.footer{
    padding-top: 93px;
    padding-bottom: 189px;
    background-color: #FFFAF2;
}

@media (max-width:767px){
    .footer{
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: #FFFAF2;
}
}


.footer__title{
    margin-bottom: 51px;
}

@media (max-width:767px){
    .footer__title{
    margin-bottom: 25px;
}
}


.footer__link{
    font-size: 1.8rem;
    line-height: 1.22;
    font-weight: 400;
    color: #333333;
}

@media (max-width:767px){
    .footer__link{
        font-size: 1.4rem;
        line-height: 1.21;

    }
}

.footer__content{
    display: flex;
}

@media (max-width:767px){
    .footer__content{
        display: flex;
        flex-direction: column;
        padding: 0 45px;
        gap: 30px;
    }
}

.footer__contact{
    display: flex;
    flex-direction: column;
    gap: 14px;
    flex-grow: 1;
}

.footer__contact-link{
    font-size: 1.8rem;
    line-height: 1.22;
    font-weight: 400;
    color: #333333;  
}

@media (max-width:767px){
    .footer__contact-link{
        font-size: 1.4rem;
        line-height: 1.21;
    }
}

.footer_list{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    gap:14px 0;
}

.footer__item{
    width: 50%;
}
