.portfolio{
    padding-top: 93px;
    padding-bottom: 145px;
}

.portfolio__row{
    display: grid;
    grid-template-columns: 349px 1fr;
    gap:125px;
    align-content: space-between;
}

.portfolio__content{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

.portfolio__images{
    display: grid;
    grid-template:"ships bridge" 145px
                  "river bridge" 233px
                  "river building" auto / 350px 255px auto;
    gap:30px;
    padding-top: 66px;
}

.portfolio__images-ships{
    grid-area: ships;
}

.portfolio__images-river{
    grid-area:river;
}

.portfolio__images-building{
    grid-area: building;
    grid-row: 2 / 3;
    align-self: end;
}

.portfolio__images-bridge{
    grid-area: bridge;
}

.portfolio__title{
    margin-bottom: 86px;
}

.portfolio__content--title{
    font-size: 1.8rem;
    line-height: 1.39;
    font-weight: 600;
}

.portfolio__text{
    flex-grow: 1;
}

.portfolio__images img{
    width: 100%;
}

.portfolio__buttons-item--right{
    transform: rotate(180deg);
    margin-left: 14px;
}