.portfolio{
    padding-top: 93px;
    padding-bottom: 145px;
}

@media  (max-width:767px) {
    .portfolio{
        padding-top: 25px;
        padding-bottom: 19px;
    } 
}

.portfolio__row{
    display: grid;
    grid-template-columns: 349px 1fr;
    gap:125px;
    align-content: space-between;
}

@media (max-width:1200px){
    .portfolio__row{
        grid-template-columns: 200px 1fr;
        gap: 40px;
        padding: 10px 10px;
    }
}

@media  (max-width:767px) {
    .portfolio__row{
        grid-template-columns: auto;
        justify-items: center;
        gap:20px;
    }
}

@media (max-width:560px){
    .portfolio__row{
        padding: 10px 10px;
    }
}

.portfolio__content{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
}

@media  (max-width:767px) {
    .portfolio__content{
        grid-template-rows: auto;
    }
}

.portfolio__images{
    display: grid;
    grid-template:"ships bridge" 145px
                  "river bridge" 233px
                  "river building" auto / 350px 255px auto;
    gap:30px;
    padding-top: 66px;
}

@media  (max-width:1200px) {
    .portfolio__images{
        grid-template:"ships bridge" 115px
                      "river bridge" 203px
                      "river building" auto / 310px 225px auto;
        gap:20px;

    }
}

@media  (max-width:767px) {
    .portfolio__images{
        
        grid-template:"ships bridge" 105px
                      "river bridge" 193px
                      "river building" auto / 290px 210px auto;
        gap:20px;
        padding: 20px 10px;

    }
}


@media  (max-width:560px) {
    .portfolio__images{
        grid-template:"ships bridge" 70px
                      "river bridge" 114px
                      "river building" auto / 170px 124px auto;
        gap:14px;
        padding: 0;

    }
}

.portfolio__images-ships{
    grid-area: ships;
}

.portfolio__images-river{
    grid-area:river;
}

.portfolio__images-building{
    grid-area: building;
    grid-row: 2 / 3;
    align-self: end;
}

.portfolio__images-bridge{
    grid-area: bridge;
}

.portfolio__title{
    margin-bottom: 86px;
}

@media (max-width:767px){
    .portfolio__title{
        margin-bottom: 19px;
    }
}

.portfolio__content--title{
    font-size: 1.8rem;
    line-height: 1.39;
    font-weight: 600;
}

@media  (max-width:767px){
    .portfolio__content--title{
        font-size: 1.4rem;
        line-height: 1.78;
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;
    }
    
}

.portfolio__text{
    flex-grow: 1;
}

.portfolio__images img{
    width: 100%;
}

.portfolio__buttons-item--right{
    transform: rotate(180deg);
    margin-left: 14px;
}

@media (max-width:767px){
    .portfolio__buttons-item{
        display: none;
    }
}